<div style="font-size: 0.92em;">
    <a class="internal-link" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
    <div style="display: flex; flex-direction: column; align-items: flex-end; float: right; font-size: 0.92em; margin-right: -30px;">
        <a class="internal-link" href="{{ site.baseurl }}/">Home</a>
        <!-- <a class="internal-link" href="{{ site.baseurl }}/thoughts">Ideas</a>
        <a class="internal-link" href="{{ site.baseurl }}/montaigne">Digressions</a> -->
        <a class="internal-link" href="{{ site.baseurl }}/bookshelf">Bookshelf</a>
        <!-- <a class="internal-link" href="{{ site.baseurl }}/">Hacks</a> -->
        <a class="internal-link" href="https://glitchinthematrix.github.io/analog_inference/">Analog</a>
        <!-- <a class="internal-link" href="{{ site.baseurl }}/running">Running</a>
        <a class="internal-link" href="{{ site.baseurl }}/travel">Travel</a> -->
    </div>
</div>
